extends layout/layout

block vars
	-title = 'Gulp template'
	-bodyClass = 'home-page'

block container
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore commodi quae veniam nesciunt officia quod eveniet eligendi necessitatibus distinctio eum nostrum voluptate pariatur veritatis quos, sapiente aliquam dolores odio voluptates.
	h2(class='title') Hello, world!
	ul.list 
		li(class='list_item')
			h2#test List item 1